@import url("../css/reset.css");

@import url("../css/variables.css");

#exhibition-link, #exhibition-link-2 {
    text-decoration: underline;
}

/* Exhibition Section */

.exhibition-section {
    display: flex;
    flex-direction: column;
    margin: auto;
}

h1, .exhibition-image, .exhibition-text {
    align-self: center;
    width: 90%;
    max-width: 1000px;
    margin-top: 2rem
}

h1 {
    font-family: "Noto Serif", Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #474747;
    text-align: center;
    background: rgba(0, 193, 252, 0.25);
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 0rem
}

.exhibition-image {
    object-fit: cover;
    height: 300px;
    border-radius: 1rem;
}

.exhibition-text {
    font-family: "Noto Sans";
    font-size: 1.125rem;
    line-height: 2.5rem;
    color: #474747;
    background: rgba(0, 193, 252, 0.25);
    padding: 0rem 2rem 0rem 2rem;
    border-radius: 1rem;
}

.exhibition-text-bold {
    font-weight: 800;
    text-align: center;
}

@media (max-width: 1300px) {

    h1, .exhibition-image, .exhibition-text {
        max-width: 600px;
        margin-top: 1rem;
    }

    h1 {
        font-size: 1.25rem;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .exhibition-image {
        height: 200px;
        border-radius: 0.5rem;
    }

    .exhibition-text {
        font-size: 1rem;
        line-height: 2rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 0.5rem;
    }

}

@media (max-width: 750px) {

    h1, .exhibition-image, .exhibition-text {
        max-width: 300px;
    }
   
}