@import url("../css/reset.css");

@import url("../css/variables.css");

#explore-link, #explore-link-2 {
    text-decoration: underline;
}

/* Explore Section */

.explore-section {
    display: flex;
    flex-direction: column;
    margin: auto;
}

h1, .explore-image, .explore-text {
    align-self: center;
    width: 90%;
    max-width: 1000px;
    margin-top: 2rem
}

h1 {
    font-family: "Noto Serif", Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #474747;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.25);
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 0rem
}

.explore-image {
    object-fit: cover;
    height: 300px;
    border-radius: 1rem;
}

.explore-text {
    font-family: "Noto Sans";
    font-size: 1.125rem;
    line-height: 2.5rem;
    color: #474747;
    background-color: rgba(255, 0, 0, 0.25);
    padding: 0rem 2rem 0rem 2rem;
    border-radius: 1rem;
}

.explore-text-bold {
    font-weight: 800;
    text-align: center;
}

@media (max-width: 1300px) {

    h1, .explore-image, .explore-text {
        max-width: 600px;
        margin-top: 1rem;
    }

    h1 {
        font-size: 1.25rem;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .explore-image {
        height: 200px;
        border-radius: 0.5rem;
    }

    .explore-text {
        font-size: 1rem;
        line-height: 2rem;
        padding: 0rem 1rem 0rem 1rem;
        border-radius: 0.5rem;
    }

}

@media (max-width: 750px) {

    h1, .explore-image, .explore-text {
        max-width: 300px;
    }
   
}