*, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    background: #E9E9E9;
  }
  
  /* Navigation Bar */  

nav,
#menu-checkbox {
    display: none;
}

.fa-bars {
    position: absolute;
    top: 3.1875rem;
    left: 3.1875rem;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    background: #474747;
    font-size: 3rem;
    color: #FFFFFF;
}


.logo-main {
    display: flex;
    align-items: center;
    margin: auto;
}

#logo-img {
    max-width: 100px;
    margin: auto;
}

#logo-txt {
    font-family: "Noto Serif Display";
    font-size: 64px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

a > img {
    vertical-align: middle;
}

/* Hamburger Menu */

#menu-checkbox:checked ~ nav {
    display: flex;
    flex-direction: column;
}

nav {
    max-width: 500px;
    top: 150px;
    font-family: "Noto Serif";
    font-weight: 700;
    font-size: 1.5rem;
    position: absolute;
    background: #474747;
    padding-right: 3.1875rem;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.explore {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 3.1875rem;
}

#explore-link {
    margin-left: 3.1875rem;
}

#explore-icon {
    font-size: 3rem;
    color: #FF0000;
    padding-left: 3.1875rem;
}

.exhibition {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 3.1875rem;
}

#exhibition-link {
    margin-left: 3.1875rem;
}

#exhibition-icon {
    font-size: 3rem;
    color: #00C2FC;
    padding-left: 3.1875rem;
}

.special {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 3.1875rem;
}

#special-link {
    margin-left: 3.1875rem;
}

#special-icon {
    font-size: 3rem;
    color: #FF8F00;
    padding-left: 3.1875rem;
}

.visit {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 3.1875rem;
}

#visit-link {
    margin-left: 3.1875rem;
}

#visit-icon {
    font-size: 3rem;
    color: #21D69C;
    padding-left: 3.1875rem;
}

.involved {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 3.1875rem;
    padding-bottom: 3.1875rem;
}

#involved-link {
    margin-left: 3.1875rem;
}

#invoved-icon {
    font-size: 3rem;
    color: #BF3FFF;
    padding-left: 3.1875rem;
}

/* Search Bar */

input {
    width: 12.5%;
    position: absolute;
    top: 3.40625rem;
    right: 3.1875rem;
    font-family: "Noto Sans";
    font-size: 1.5rem;
    color:#474747;
    border: 0;
    background-color: #E9E9E9;
    border-radius: 16px;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

input::placeholder {
    font-style: italic;
  }

input:focus {
    outline: none;
  }