*, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    background: #E9E9E9;
  }
  
  /* Navigation Bar */  

nav,
#menu-checkbox {
    display: none;
}

.fa-bars {
    position: absolute;
    top: 2.6875rem;
    left: 2.6875rem;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    background: #474747;
    font-size: 4rem;
    color: #FFFFFF;
}

.logo-head {
    display: flex;
    align-items: center;
    margin: auto;
}

#logo-img {
    max-width: 100px;
    margin: auto;
}

#logo-txt {
    font-family: "Noto Serif Display";
    font-size: 64px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

a > img {
    vertical-align: middle;
}

/* Hamburger Menu */

#menu-checkbox:checked ~ nav {
    display: flex;
    flex-direction: column;
}

nav {
    max-width: 500px;
    top: 150px;
    font-family: "Noto Serif";
    font-weight: 700;
    font-size: 1.5rem;
    position: absolute;
    background: #474747;
    padding-right: 5rem;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.explore {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 2rem;
}

#explore-link {
    margin-left: 4rem;
}

#explore-icon {
    font-size: 4rem;
    color: #FF0000;
    padding-left: 2.6875rem;
}

.exhibition {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 2rem;
}

#exhibition-link {
    margin-left: 4rem;
}

#exhibition-icon {
    font-size: 4rem;
    color: #00C2FC;
    padding-left: 2.6875rem;
}

.special {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 2rem;
}

#special-link {
    margin-left: 4rem;
}

#special-icon {
    font-size: 4rem;
    color: #FF8F00;
    padding-left: 2.6875rem;
}

.visit {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 2rem;
}

#visit-link {
    margin-left: 4rem;
}

#visit-icon {
    font-size: 4rem;
    color: #21D69C;
    padding-left: 2.6875rem;
}

.involved {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#involved-link {
    margin-left: 4rem;
}

#invoved-icon {
    font-size: 4rem;
    color: #BF3FFF;
    padding-left: 2.6875rem;
}


