@import url("../css/reset.css");

@import url("../css/variables.css");

#special-link, #special-link-2 {
    text-decoration: underline;
}

/* Special Section */

.special-section {
    display: flex;
    flex-direction: column;
    margin: auto;
}

h1, h2 {
    margin: 0;
}

.h1, .h2 {
    align-self: center;
    font-family: "Noto Serif", Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: #474747;
    text-align: center;
    background: rgba(255, 143, 0, 0.25);
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 1000px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.special-image {
    align-self: center;
    object-fit: cover;
    width: 90%;
    height: 400px;
    border-radius: 1rem;
    max-width: 1000px;
}

@media (max-width: 1300px) {

    .h1, .h2 {
        font-size: 0.5rem;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-width: 600px;
    }

    .special-image {
        height: 200px;
        max-width: 600px;
        border-radius: 0.5rem;
    }

}

@media (max-width: 750px) {

    .h1, .h2, .special-image {
        max-width: 300px;
    }

}

/* Special Panels */

.special-panels {
    max-width: 1000px;
    margin: auto;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: auto;
    row-gap: 2rem;
    grid-template-areas:
        "panel-1 panel-2 panel-3"
    ;
}

.panel-1 {
    grid-area: panel-1;
    justify-self: start;
}

.panel-2 {
    grid-area: panel-2;
    justify-self: center;
}

.panel-3 {
    grid-area: panel-3;
    justify-self: end;
}

@media (max-width: 1300px) {

    .special-panels {
        max-width: 600px;
        padding-bottom: 1rem;
        row-gap: 1rem;
        grid-template-areas:
            "panel-1 panel-2"
            "panel-3 panel-3"
        ;
    }
    
    .panel-2 {
        justify-self: end;
    }
    
    .panel-3 {
        justify-self: center;
    }
    
}

@media (max-width: 750px) {

    .special-panels {
        max-width: 90%;
        grid-template-areas:
            "panel-1"
            "panel-2"
            "panel-3"
        ;
    }

    .panel-1, .panel-2, .panel-3 {
        justify-self: center;
    }
   
}

/* Panels */

.panel-image {
    align-self: center;
    object-fit: cover;
    height: 200px;
    border-radius: 1rem 1rem 0rem 0rem;
    max-width: 300px;
    margin-bottom: -4px;
}

.panel-text {
    background: rgba(255, 143, 0, 0.25);
    border-radius: 0rem 0rem 1rem 1rem;
    max-width: 300px;
}

.header, .body {
    font-family: "Noto Sans";
    color: #474747;
    font-size: 1rem;
    line-height: 2rem;
    max-width: 300px;
    height: fit-content;
    padding: 1.5rem;
    margin: 0;
}

.header {
    font-weight: 800;
    text-align: center;
    padding-bottom: 0;
}

@media (max-width: 1300px) {


    .panel-image {
        max-width: 275px;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
    }

    .header, .body {
        line-height: 1rem;
        font-size: 0.5rem;
        padding: 0.75rem;
    }

    .panel-text {
        max-width: 275px;
        border-radius: 0rem 0rem 0.5rem 0.5rem;
    }

    .header {
        padding-bottom: 0;
    }

}

@media (max-width: 750px) {

    .panel-image {
        max-width: 300px;
    } 

    .panel-text {
        max-width: 300px;
    } 
   
}
